<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
	<contextName>digest</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				 %-5level - %msg%n
			</pattern>
		</encoder>
	</appender>

	<jmxConfigurator />
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
